<div class="row mb-2 user-bar">
  <div *ngIf="showBack" class="col-md-4">
    <a class="btn btn-primary btn-sm" (click)="goBack()">
      <mdi-icon name="chevron-left"></mdi-icon>
      Return to Menu
    </a>
  </div>
  <div
    *ngIf="user"
    [ngClass]="{'col-md-8': showBack, 'col-md-12': !showBack}" 
    class="d-flex justify-content-end align-items-center"
  >
      <p class="m-0">{{user?.name || user?.github}}</p>
      <img
          *ngIf="user.base64"
          [src]="user.base64"
          [alt]="user?.name || user.github"
      />
      <a class="btn btn-primary btn-sm" routerLink="/admin/profile">Profile</a>
      <a class="btn btn-primary btn-sm" (click)="logout()">Logout</a>
  </div>
</div>