<mdi-banner
    title="History"
    icon="history"
    adminReturn="true"
    [carbon]="false"
></mdi-banner>
<div class="container mt-3">
    <div class="row">
        <div class="col-md-8">
            <div class="date-group" *ngFor="let date of modificationsByDate">
                <h2>Changes on {{date.date}}</h2>
                <div class="container-fluid history">
                    <div class="history-item" *ngFor="let m of date.modifications" [ngSwitch]="m.modificationId" [ngClass]="getClassName(m.modificationId)">
                        <div *ngSwitchCase="modificationType.News" class="d-flex flex-row">
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="text-content">
                                <span [innerHtml]="m.text"></span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <span class="label">
                                    News
                                </span>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.WebfontPublished" class="d-flex flex-row">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="text-content">
                                <span [innerHtml]="m.text"></span>
                                <small>at {{friendlyTime(m.date)}} by {{m.user.name}}</small>
                            </div>
                            <div class="actions">
                                <span class="label">
                                    Webfont
                                </span>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconCreated" class="d-flex flex-row">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <a class="icon"
                                routerLink="/icon/{{m.icon.name}}">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.icon.data"></path>
                                </svg>
                            </a>
                            <div class="text">
                                <span>Icon
                                    <code>{{m.icon.name}}</code> created.</span>
                                <small>
                                  at {{friendlyTime(m.date)}} by {{m.user.name}}
                                  <span *ngIf="m.version && m.version.major != null">
                                    | v{{m.version.major}}.{{m.version.minor}}.{{m.version.patch}}
                                  </span>
                                </small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed && m.issue == null"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconRenamed" class="d-flex flex-row">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <a class="icon"
                                routerLink="/icon/{{m.icon.name}}">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.icon.data"></path>
                                </svg>
                            </a>
                            <div class="text">
                                <span>Icon
                                    <code class="name-before">{{m.iconNameBefore}}</code> renamed to
                                    <code class="name-after">{{m.iconNameAfter}}</code>
                                </span>
                                <small>
                                  at {{friendlyTime(m.date)}} by {{m.user.name}}
                                  <span *ngIf="m.version && m.version.major != null">
                                    | v{{m.version.major}}.{{m.version.minor}}.{{m.version.patch}}
                                  </span>
                                </small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed && m.issue == null"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconModified" class="d-flex flex-row">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <div class="icon">
                                <svg viewBox="0 0 24 24">
                                    <path fill="rgba(0, 0, 0, 0.5)" [attr.d]="m.iconDataBefore"></path>
                                </svg>
                            </div>
                            <a class="icon"
                                routerLink="/icon/{{m.icon.name}}">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.iconDataAfter"></path>
                                </svg>
                            </a>
                            <div class="text">
                                <span>Icon
                                    <code>{{m.icon.name}}</code> Modified</span>
                                <small>
                                  at {{friendlyTime(m.date)}} by {{m.user.name}}
                                  <span *ngIf="m.version && m.version.major != null">
                                    | v{{m.version.major}}.{{m.version.minor}}.{{m.version.patch}}
                                  </span>
                                </small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed && m.issue == null"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconDeleted" class="d-flex flex-row">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <a class="icon"
                                routerLink="/icon/{{m.icon.name}}">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.icon.data"></path>
                                </svg>
                            </a>
                            <div class="text">
                                <span>Icon Deleted
                                    <code>{{m.icon.name}}</code> <span [innerHtml]="m.text"></span></span>
                                <small>
                                  at {{friendlyTime(m.date)}} by {{m.user.name}}
                                  <span *ngIf="m.version && m.version.major != null">
                                    | v{{m.version.major}}.{{m.version.minor}}.{{m.version.patch}}
                                  </span>
                                </small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed && m.issue == null"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                        <div *ngSwitchCase="modificationType.IconAliasCreated" class="d-flex flex-row">
                            <ng-template #user>{{m.user.name}}
                                <br/>
                                <small>@{{m.user.github}}</small>
                            </ng-template>
                            <a class="photo" routerLink="/contributor/{{friendlyUrl(m.user.name)}}" [ngbTooltip]="user" [placement]="'right'">
                                <mdi-user-photo [userId]="m.user.id"></mdi-user-photo>
                            </a>
                            <a class="icon"
                                routerLink="/icon/{{m.icon.name}}">
                                <svg viewBox="0 0 24 24">
                                    <path [attr.d]="m.icon.data"></path>
                                </svg>
                            </a>
                            <div class="text">
                                <span>Added alias
                                    <code>{{m.text}}</code> to icon
                                    <code>{{m.icon.name}}</code>
                                </span>
                                <small>
                                  at {{friendlyTime(m.date)}} by {{m.user.name}}
                                  <span *ngIf="m.version && m.version.major != null">
                                    | v{{m.version.major}}.{{m.version.minor}}.{{m.version.patch}}
                                  </span>
                                </small>
                            </div>
                            <div class="actions">
                                <a class="btn btn-sm btn-issue" *ngIf="m.issue != null"
                                    [ngbTooltip]="'GitHub Issue'"
                                    target="_blank"
                                    href="https://github.com/Templarian/MaterialDesign/issues/{{m.issue}}">
                                    #{{m.issue}}
                                </a>
                                <button *ngIf="isAuthed" (click)="assignIssue(m)"
                                    class="btn btn-secondary btn-sm">Assign Issue</button>
                                <a target="_blank" *ngIf="!isAuthed && m.issue == null"
                                    [attr.href]="friendlyReport(m)"
                                    class="btn btn-secondary btn-sm">Report</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="more mt-3 mb-3 pl-3 pr-3">
                <button class="btn btn-primary btn-block" (click)="loadMore()">Load More</button>
            </div>
        </div>
        <div class="col-md-4 mt-3">
            <div class="card mt-3">
                <div class="card-body">
                    <h4 class="card-title mb-0">
                        <mdi-icon name="filter"></mdi-icon>
                        Filter
                    </h4>
                </div>
                <div class="list-group ml-2 mb-2 mr-2">
                    <select [(ngModel)]="selectedPackage" (change)="selectPackage()" class="custom-select mb-3">
                        <option *ngFor="let p of packages" [ngValue]="p">{{p.name}}</option>
                    </select>
                    <button *ngFor="let m of modificationTypes" [ngClass]="{ 'active': m.selected }" type="button" class="list-group-item list-group-item-action btn-sm"
                        (click)="toggle(m)">
                        <span class="icon">
                            <mdi-icon [name]="m.selected ? 'checkbox-marked' : 'checkbox-blank-outline'"></mdi-icon>
                        </span>
                        {{m.name}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
