<mdi-banner
    title="Pictogrammers Admin"
    icon="pictogrammers"
    [carbon]="false"
></mdi-banner>
<div class="container pb-4">
  <div class="card">
      <div class="card-header">
          Log In
      </div>
      <div class="col-md-12 text-center p-4 mb-2">
        <p>Welcome to the Pictogrammers Admin.</p>
        <a href="api/admin/github?action=login" class="btn btn-primary w-25">
          <mdi-icon name="github"></mdi-icon> Log in with GitHub
        </a>
      </div>
  </div>
</div>
