:host {
    display: block;
    font-family: 'Roboto';
    padding: 40px 60px;
    color: #FFF;
    
    h1 {
        align-items: center;
        display: flex;
        margin: 0;

        mdi-icon {
            display: inline-block;
            padding: 4px;
            vertical-align: middle;
            margin-top: -1px;
            margin-right: .5rem;
        }
    }
    
    ::ng-deep {
        .carbon-container {
            position: absolute;
            right: 20px;
            top: -29px;
        }
    }
}

.admin-return {
    padding-top: .5rem;

    a {
        border-radius: 5px;
        color: inherit;
        font-size: 1rem;
        font-weight: 300;
        padding: .5rem;
        text-decoration: none;

        &:hover {
            color: rgba(255, 255, 255, .8);
        }
    }
}