<mdi-banner
  title="Tag Icons"
  icon="tag-plus"
  adminReturn="true"
  [carbon]="false"
></mdi-banner>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card p-3">

        <div class="row mb-3">
          <div class="col-md-2">
            <span class="step">Step 1</span>
          </div>
          <div class="col-md-10">
            <label>
              <span class="d-block">Select a Package</span>
              <select [(ngModel)]="selectedPackage" (change)="selectPackage()" class="custom-select">
                <option *ngFor="let p of packages" [ngValue]="p">{{p.name}}</option>
              </select>
            </label>
          </div>
        </div>

        <div class="row mb-3">
          <div class="col-md-2">
            <span class="step">Step 2</span>
          </div>
          <div class="col-md-10">
            <label>
              <span class="d-block">Select a Tag</span>
              <select [(ngModel)]="selectedTag" (change)="selectTag()" class="custom-select">
                <option *ngFor="let t of tags" [ngValue]="t">{{t.name}}</option>
              </select>
            </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2">
            <span class="step">Step 3</span>
          </div>
          <div class="col-md-10">
            <div class="row">
              <label class="col-md-5">
                <span class="d-block">Search for an Icon</span>
                <mdi-icon-search [package]="selectedPackage" [(icon)]="selectedIcon" [exclude]="previewIcons" (iconChange)="selectIcon()"></mdi-icon-search>
              </label>
              <div class="col-md-3 mt-4">
                <button class="btn btn-primary btn-block" [disabled]="disabledTag || selectedIcon == null" (click)="submitTag()">Add Tag</button>
              </div>
            </div>
          </div>
        </div>
        <div class="card card-inverse mt-2" style="display:block;">
          <p *ngIf="previewIcons.length == 0">No icons found.</p>
          <span *ngFor="let i of previewIcons" [ngbTooltip]="i.name" style="display:inline-block;border-radius:2px;" class="p-1 m-1">
            <svg viewBox="0 0 24 24" style="width:24px;height:24px;">
              <path [attr.d]="i.data"></path>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- <div class="card p-3">
        <h2>Approve Tags</h2>
        <p>Coming Soon...</p>
      </div> -->
      <div class="card p-3">
        <h2>Downloads</h2>
        <a class="btn btn-primary" href="/api/csv/38EF63D0-4744-11E4-B3CF-842B2B6CFE1B?headers=Icon%20Name,Icon%20Alias&columns=icon.name,icon.aliases">Download
          .csv</a>
      </div>
    </div>
  </div>
