<mdi-banner
  title="Alias Icons"
  icon="rename-box"
  adminReturn="true"
  [carbon]="false"
></mdi-banner>
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <div class="card p-3">
        <div class="row mb-3">
          <div class="col-md-2">
            <span class="step">Step 1</span>
          </div>
          <div class="col-md-10">
            <label>
              <span class="d-block">Select a Package</span>
              <select [(ngModel)]="selectedPackage" (change)="selectPackage()" class="custom-select">
                <option *ngFor="let p of packages" [ngValue]="p">{{p.name}}</option>
              </select>
            </label>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col-md-2">
            <span class="step">Step 2</span>
          </div>
          <div class="col-md-10">
            <label>
              <span class="d-block">Search for an Icon</span>
              <mdi-icon-search [package]="selectedPackage" [(icon)]="selectedIcon" (iconChange)="selectIcon()"></mdi-icon-search>
            </label>
          </div>
        </div>
        <div class="row mb-3" *ngIf="selectedIcon != null">
          <div class="col-md-2">
            <span class="step">Step 3</span>
          </div>
          <div class="col-md-10">
            Enter New Aliases (Comma separated)
            <div>
              <input type="text" class="form-control" [(ngModel)]="aliasName" (keyup)="validate()" />
            </div>
            <div>
              <button class="btn btn-primary btn-block mt-2" [disabled]="disabledAlias" (click)="submitAlias()">Add Alias(es)</button>
            </div>
          </div>
        </div>
        <div class="row mb-3" *ngIf="selectedIcon != null">
          <div class="col-md-2"></div>
          <div class="col-md-10">
            Existing Aliases
            <div>
              <p *ngIf="selectedIcon.aliases.length == 0">No aliases have been assigned.</p>
              <span *ngFor="let a of selectedIcon.aliases; let i = index">
                <code>{{a.name}}</code>
                <span *ngIf="i != selectedIcon.aliases.length - 1">,</span>
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="card p-3 mt-3">
        <div>
          <h3>Recently Added Aliases</h3>
          <table class="table">
            <tr>
              <th>Icon</th>
              <th>Alias</th>
              <th>By User</th>
              <th>Date</th>
            </tr>
            <tr *ngFor="let m of modifications">
              <td>{{m.icon.name}}</td>
              <td>{{m.text}}</td>
              <td>{{m.user.name}}</td>
              <td>{{friendlyDate(m.date)}} {{friendlyTime(m.date)}}</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <!-- <div class="card p-3">
        <h2>Approve Aliases</h2>
        <p>Each alias requires 2 yes votes to get added.</p>
        <div>
          <span style="float:left;width:32px;height:32px;background:#FFF;"></span>
          <span>Icon Name</span>
          <span>Alias Name</span>
          <mdi-icon name="checkbox-blank-outline"></mdi-icon>
          <mdi-icon name="checkbox-blank-outline"></mdi-icon>
          <mdi-icon name="checkbox-blank-outline"></mdi-icon>
        </div>
      </div> -->
      <div class="card p-3">
        <h2>Downloads</h2>
        <a class="btn btn-primary" href="/api/csv/38EF63D0-4744-11E4-B3CF-842B2B6CFE1B?headers=Icon%20Name,Icon%20Alias&columns=icon.name,icon.aliases">Download
          .csv</a>
      </div>
    </div>
  </div>
